{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/flowchart.css') }}">
{% endblock %}

{% block content %}
<div class="back-button">
    <a href="{{ url_for('home') }}" class="back-link">← Back to Home</a>
</div>

<div>
    <h1 class="welcome-title">Flow Unleashed</h1>
    <p class="welcome-subtitle">Transforming Complex Processes into Simple, Streamlined Solutions!</p>
</div>
<div class="flowchart-container">
    
    <form method="POST" action="{{ url_for('flowchart') }}">
        <input type="text" name="topic" placeholder="Enter a topic..." required>
        <button type="submit">Generate</button>
    </form>
    {% if flowchart_code %}
    {% if "graph" in flowchart_code %}
    <div class="mermaid" id="mermaid-container">
        {{ flowchart_code }}
    </div>
    <div class="download-buttons">
        <button id="download-png">Download PNG</button>
        <button id="download-jpeg">Download JPEG</button>
    </div>
    
    {% else %}
    <p>{{ flowchart_code }}</p>
    {% endif %}
    {% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/mermaid@10.6.1/dist/mermaid.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/canvas2image/1.0.5/canvas2image.min.js"></script>
<script>
    mermaid.initialize({ startOnLoad: true });
    document.addEventListener('DOMContentLoaded', function() {
        const downloadPngButton = document.getElementById('download-png');
        const downloadJpegButton = document.getElementById('download-jpeg');
        if(downloadPngButton && downloadJpegButton){
            downloadPngButton.addEventListener('click', function() {
                html2canvas(document.getElementById('mermaid-container')).then(function(canvas) {
                    const link = document.createElement('a');
                    link.download = 'flowchart.png';
                    link.href = canvas.toDataURL('image/png');
                    link.click();
                });
            });

            downloadJpegButton.addEventListener('click', function() {
                html2canvas(document.getElementById('mermaid-container')).then(function(canvas) {
                    const link = document.createElement('a');
                    link.download = 'flowchart.jpeg';
                    link.href = canvas.toDataURL('image/jpeg');
                    link.click();
                });
            });
        }
    });
</script>

{% endblock %}