
{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/storyteller.css') }}">
{% endblock %}

{% block content %}

<div class="back-button">
    <a href="{{ url_for('home') }}" class="back-link">← Back to Home</a>
</div>

<!-- Welcome title and subtitle -->
<div>
    <h1 class="welcome-title">Storyteller</h1>
    <p class="welcome-subtitle">Here you can create your own stories!</p>
</div>

<!-- Form for prompt -->
<div>
    <form method="post" class="prompt-form">
        <label for="key">What do you want to learn about?</label>
        <div class="input-group">
            <input type="text" name="prompt" placeholder="Enter a prompt" required>
            <button type="submit">Submit</button>
        </div>
        {% if error %}
        <p class="error">Field can't be empty!!!</p>
        {% endif %}
    </form>    
</div>

<!-- Response -->
{% if response %}
<div class="response-container">
    <textarea id="response-text" readonly>{{ response }}</textarea>
    <br>
    
    <audio controls>
        <source src="{{ url_for('static', filename='audio/output.mp3') }}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
    
</div>
{% endif %}




{% endblock %}